/***************************/
/* HEADER */
/***************************/
.header {
  width: 100%;
  position: relative;
}

.navbar {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu > img {
  cursor: pointer;
}

/* ACTIVE NAVBAR */

.nav {
  height: 85.5vh;

  position: absolute;
  inset: 10rem 0 auto 0;
  z-index: 100;
}

.nav-container {
  width: calc(100% - 7rem);
  margin-inline: auto;
  height: 75vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-links {
  /* Explicit positioning for mobile nav */
  /* Need to fix these in the queries */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  list-style: none;
  padding: 2rem 0;
  border-top: 1px solid var(--clr-primary-022);
  width: 100%;
  text-align: center;
}

.nav-link > a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--clr-primary-02);
}

.nav-link:last-child > a {
  display: block;
}

.nav-link-cta {
  font-weight: var(--fw-semi-bold);
  border: 2px solid var(--clr-primary-02);
}

.nav-hide {
  display: none;
}

/*
  background color will only be applied
  when have both classes together 

  Abeer you're genious
*/
.nav-active.nav,
.nav-active.header {
  background-color: var(--clr-neutral-011);
}

.nav-active.navbar-logo {
  filter: invert(100) brightness(100);
}

.nav-social-links {
  display: flex;
  align-items: center;
  width: 7rem;
  margin-inline: auto;
}

.nav-social-links > a:last-child {
  margin-left: 3rem;
}

/* Move Queries to the queries.css later */
@media (min-width: 40em) {
  body {
    background-color: green;
  }
  .navbar-menu {
    display: none;
  }

  .nav {
    position: static;
    height: auto;
  }

  /* Resetting the nav container */
  .nav-container {
    width: auto;
    height: auto;
    display: block;
    margin-inline: 0;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-link {
    margin-left: 2rem;
  }

  /*
  In case mobile nav is active,
  and we dont want its bg colors to impact the desktop viewport
  */
  .nav-active.nav,
  .nav-active.header {
    background-color: inherit;
  }

  .nav-active.navbar-logo {
    filter: none;
  }

  .nav-hide {
    display: block;
  }

  .nav-social-links {
    display: none;
  }
}

/***************************/
/* HERO */
/***************************/

.hero-image {
  margin-inline: auto;
  position: relative;
}

.hero-image::before {
  content: "";
  display: block;
  width: 100rem;
  height: 80%;
  background-color: var(--clr-primary-01);
  border-radius: 100vmax;

  position: absolute;
  z-index: -1;
  top: 5rem;
  left: 5rem;
}

.hero-desc > :nth-child(1) {
  margin-bottom: 2rem;
}

.hero-desc > :nth-child(2) {
  margin-bottom: 3rem;
}

.hero-desc > :last-child {
  margin-bottom: 0;
}

.hero-cta {
  display: flex;
  justify-content: center;
}

.hero-cta > :first-child {
  margin-right: 1.4rem;
}

/* Move Queries to the queries.css later */
@media (min-width: 40em) {
}

/***************************/
/* FEATURES */
/***************************/

/***************************/
/* EXTENSION */
/***************************/

/***************************/
/* FAQ */
/***************************/

/***************************/
/* CTA */
/***************************/

/***************************/
/* FOOTER */
/***************************/

/*
- Font sizes (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
- Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
