/***************************/
/* HEADER */
/***************************/
.header {
  width: 100%;
  position: relative;
}

.navbar {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu > img {
  cursor: pointer;
}

/* ACTIVE NAVBAR */

.nav {
  height: 85.5vh;

  position: absolute;
  inset: 10rem 0 auto 0;
  z-index: 100;
}

.nav-container {
  width: calc(100% - 7rem);
  margin-inline: auto;
  height: 75vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-links {
  /* Explicit positioning for mobile nav */
  /* Need to fix these in the queries */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  list-style: none;
  padding: 2rem 0;
  border-top: 1px solid var(--clr-primary-022);
  width: 100%;
  text-align: center;
}

.nav-link > a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--clr-primary-02);
}

.nav-link:last-child > a {
  display: block;
}

.nav-link:last-child > a {
  font-weight: var(--fw-semi-bold);
  border: 2px solid var(--clr-primary-02);
  padding: 1.35rem 1.6rem;
  border-radius: var(--rad-01);
}

.nav-hide {
  display: none;
}

/*
  background color will only be applied
  when have both classes together 

  Abeer you're genious
*/
.nav-active.nav,
.nav-active.header {
  background-color: var(--clr-neutral-011);
}

.nav-active.navbar-logo {
  filter: invert(100) brightness(100);
}

.nav-social-links {
  display: flex;
  align-items: center;
  width: 7rem;
  margin-inline: auto;
}

.nav-social-links > a:last-child {
  margin-left: 3rem;
}

/* Move Queries to the queries.css later */

@media (min-width: 40em) {
  /* body {
    background-color: green;
  } */

  .navbar-menu {
    display: none;
  }

  .nav {
    position: static;
    height: auto;
  }

  /* Resetting the nav container */
  .nav-container {
    width: auto;
    height: auto;
    display: block;
    margin-inline: 0;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-link {
    margin-left: 2.4rem;
  }

  .nav-link:first-child {
    margin-left: 0;
  }

  .nav-link {
    padding: 0;
    border-top: none;
  }

  .nav-link > a {
    font-size: 1.4rem;
    color: var(--clr-neutral-01);
  }

  .nav-link:last-child > a {
    color: var(--clr-primary-02);
    font-weight: var(--fw-regular);
    padding: 1.35rem 3.2rem;
    border: none;
    background-color: var(--clr-accent-01);
    box-shadow: var(--box-shadow-03);
  }

  /*
  In case mobile nav is active,
  and we dont want its bg colors to impact the desktop viewport
  */
  .nav-active.nav,
  .nav-active.header {
    background-color: inherit;
  }

  .nav-active.navbar-logo {
    filter: none;
  }

  .nav-hide {
    display: block;
  }

  .nav-social-links {
    display: none;
  }
}

@media (min-width: 50em) {
  .nav-link {
    margin-left: 4.8rem;
  }

  .nav-link:first-child {
    margin-left: 0;
  }
}

/***************************/
/* HERO */
/***************************/
.hero-image {
  margin-inline: auto;
  position: relative;
}

.hero-cta {
  display: flex;
  justify-content: center;
}

.hero-cta > :first-child {
  margin-right: 1.4rem;
}

/* Move Queries to the queries.css later */
@media (min-width: 40em) {
}

/***************************/
/* FEATURES */
/***************************/

.tab-image {
  position: relative;
}

.features-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-nav-link {
  list-style: none;

  padding: 2rem 0;
  border-top: 1px solid var(--border-color);
  width: 100%;
  text-align: center;
}

.features-nav-link:last-child {
  border-bottom: 1px solid var(--border-color);
}

.features-nav-link > span {
  cursor: pointer;
  font-size: 1.6rem;
  color: hsl(223, 6%, 45%);
}

.tab-active > span {
  position: relative;
  color: hsl(231, 7%, 19%);
}

.tab-active > span::before {
  content: "";
  width: 90%;
  height: 20%;
  background-color: var(--clr-accent-01);

  position: absolute;
  top: 3.56rem;
  left: 5%;
}

.tabs-desc {
  position: relative;
}

.features-tabs .btn--primary {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/* Move Queries to the queries.css later */
@media (min-width: 40em) {
}
/***************************/
/* EXTENSION */
/***************************/

.extensions {
  overflow: visible;
}

.extensions-list > * {
  box-shadow: var(--box-shadow-02);
  border-radius: var(--rad-02);
}

.extensions .tertiary-heading {
  font-size: 2.1rem;
}

.extensions .tertiary-heading {
  font-size: 2.1rem;
}

.extension-logo {
  width: 10rem;
  margin-inline: auto;
}

.extension-header {
  padding: 6rem 0 3rem 0;
}

.extension-cta {
  padding: 2.5rem;
}

/* Move Queries to the queries.css later */
@media (min-width: 40em) {
}

/***************************/
/* FAQ */
/***************************/

.faq-accordion > * {
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-color);
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question:hover {
  cursor: pointer;
}

.question > img {
  width: 1.5rem;
}

.question > p,
.answer > p {
  font-size: 1.5rem;
  line-height: var(--lh-02);
}

.question > p {
  color: hsl(231, 7%, 19%);
}

.answer {
  display: none;
}

.answer > p {
  color: hsl(223, 6%, 45%);
  line-height: var(--lh-03);
}

.faq .btn--primary {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.question.active {
  margin-bottom: 2rem;
}

.question.active ~ .answer {
  display: block;
}

.question.active > img {
  transform: rotate(180deg);
  /* filter: ; */
}

.cta-form #email {
  display: block;
  color: var(--clr-neutral-02);
  font-size: 1.4rem;

  width: 100%;
  padding: 1.35rem 1.6rem;
  border: none;
  border-radius: var(--rad-01);
  position: relative;
}

.cta-form #email:active,
.cta-form #email:focus {
  outline: none;
}

.cta-form #email:invalid {
  outline: 3px solid var(--clr-accent-01);
}

/* Move Queries to the queries.css later */
@media (min-width: 40em) {
}
/***************************/
/* CTA */
/***************************/
.cta {
  background-color: var(--clr-primary-01);
}

.cta-desc > span {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-primary-02);

  display: block;
  text-align: center;
}

.cta-desc > .secondary-heading {
  color: var(--clr-primary-02);
  font-size: 2.2rem;
}

/***************************/
/* FOOTER */
/***************************/

.footer {
  background-color: var(--clr-neutral-01);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-link {
  list-style: none;
  margin-bottom: 2.6rem;
}

.footer-nav-link:last-child {
  margin-bottom: 0;
}

.footer-nav-link > a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: var(--clr-primary-02);
  font-size: 1.4rem;
}

.footer-logo img {
  filter: invert(100) brightness(100);
}

.footer-social-links {
  display: flex;
  gap: 4rem;
}

.footer-social-links > img {
  width: 2rem;
}

/*
- Font sizes (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
- Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
